<app-header [buttons]="buttons"></app-header>
<div class="flex-left">
    <div (mousedown)="toggleBold($event)"
	 [ngClass]="buttonBold"><b style="font-size: 110%;">B</b></div>
    <div (mousedown)="toggleItalic($event)"
    	 [ngClass]="buttonItalic"><i>I</i></div>
    <div (mousedown)="toggleUnderline($event)"
    	 [ngClass]="buttonUnderline"><u>U</u></div>
    <div (mousedown)="toggleStrike($event)"
    	 [ngClass]="buttonStrike"><s>S</s></div>
    <!-- insert picture -->
    <div class="img-icon tool-bar-button img-filter"
	 (mousedown)="buttonInsertPic($event)"
	 title="insert image"> </div>
    <!-- lists -->
    <div class="ol-icon tool-bar-button img-filter"
	 (mousedown)="insertOl($event)"
	 title="insert ordered list"> </div>
    <div class="ul-icon tool-bar-button img-filter"
	 (mousedown)="insertUl($event)"
	 title="insert unordered list"> </div>
    <!-- justifiers -->
    <div class="justify-right-icon tool-bar-button img-filter"
	 [ngClass]="justify_right"
	 (mousedown)="justifyRight($event)"> </div>
    <div class="justify-center-icon tool-bar-button img-filter"
	 [ngClass]="justify_center"
	 (mousedown)="justifyCenter($event)"> </div>
    <div class="justify-left-icon tool-bar-button img-filter"
	 [ngClass]="justify_left"
	 (mousedown)="justifyLeft($event)"> </div>
    <!-- indentations -->
    <div class="indent-icon tool-bar-button img-filter"
	 (mousedown)="indent($event)"
	 title="indent"> </div>
    <div class="outdent-icon tool-bar-button img-filter"
	 (mousedown)="outdent($event)"
	 title="outdent"> </div>
</div>
<div id="edit-area"
     style="outline: none;"
     (keydown)="keyPress($event)"
     (click)="checkDecorations()"
     contenteditable="true">
</div>

<!-- <menu></menu> -->
