#edit-area {
    padding: 5px;
    margin: 5px;
}

.tool-bar-button {
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color: inherit;
    box-shadow: -1px 1px 3px grey;
    border: 2px solid transparent;
    cursor: default;
    &:active {
	border: 2px solid;
	box-shadow: none;
    }

}

.pressed {
    border: 2px solid grey;
    box-shadow: none;
}

.icon {
    background-repeat: no-repeat;
    width: 32px;
    content: "";
}

.img-icon {
    background-repeat: no-repeat;
    background-image: url("../../assets/icon_img.svg");
    width: 32px;
    content: "";
}

.ol-icon {
    background-repeat: no-repeat;
    background-image: url("../../assets/icon_ordered_list.svg");
    width: 32px;
    content: "";
}

.ul-icon {
    background-repeat: no-repeat;
    background-image: url("../../assets/icon_unordered_list.svg");
    width: 32px;
    content: "";
}

.justify-right-icon {
    background-repeat: no-repeat;
    background-image: url("../../assets/icon_justify_right.svg");
    width: 32px;
    content: "";
}

.justify-left-icon {
    background-repeat: no-repeat;
    background-image: url("../../assets/icon_justify_left.svg");
    width: 32px;
    content: "";
}

.justify-center-icon {
    background-repeat: no-repeat;
    background-image: url("../../assets/icon_justify_center.svg");
    width: 32px;
    content: "";
}

.outdent-icon {
    background-repeat: no-repeat;
    background-image: url("../../assets/icon_outdent.svg");
    width: 32px;
    content: "";
}

.indent-icon {
    background-repeat: no-repeat;
    background-image: url("../../assets/icon_indent.svg");
    width: 32px;
    content: "";
}


// .justify-right-icon {
//     background-repeat: no-repeat;
//     background-image: url("../../assets/icon_unordered_list.svg");
//     width: 32px;
//     content: "";
// }

// .justify-right-icon {
//     background-repeat: no-repeat;
//     background-image: url("../assets");
//     width: 32px;
//     content: "";
// }
