<div class="menu-bar-hidden">
    <div class="font-x3 bold margin-c fit-width">Menu</div>
    <div class="menu">
	<div class="mock-link font-x3 text-c margin-c"
	     (click)="gotoUser()">me</div>
	<div class="mock-link font-x2 text-c margin-c"
	     (click)="gotoPostEditor()">new post</div>
	<div class="mock-link font-x2 text-c margin-c"
	     (click)="gotoMessages()">messages</div>
	<div class="mock-link font-x2 text-c margin-c"
	     (click)="gotoSettings()">settings</div>
	
	
    </div>
    <div style="position: absolute;
		width: 95%;
		margin: 0;
		padding: 0;
		bottom: 0;">
	<div class="mock-button margin-c fit-width"
	     style="margin-bottom: 15px;"
	     (click)="logout()">Logout</div>
    </div>
    
    
</div>


<div class="menu-button">
    <div class="mock-button"
	 (click)="toggleMenu()">
	<div class="sandwich"></div>
    </div>
</div>
